<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" type="text/css" href="../scripts/senna/senna.css" />
    <link rel="stylesheet" type="text/css" href="../code-font.css" />
    <script src="../scripts/senna/senna-min.js"></script>
  </head>

  <body data-senna>
  <div class="senna-loading-bar"></div>
   
      <div class="podcast-player">
    </div>
     
      </div>
   
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="logo"><img src="../images/code.png" /></a>
            
          <nav>
            <a href="{{ site.baseurl }}/">Podcast</a>
            <a href="{{ site.baseurl }}/sobre">Sobre</a>
            <a href="{{ site.baseurl }}/contato">Contato</a>
          </nav>
        </header>
      </div>
    </div>

   
    <div id="main" role="main" class="container" data-senna-surface>
        <div id="main-default">
            {{ content }}
        </div>
    </div>
    
    
  <footer>
      <h1>Inscreva-se</h1>
      <ul class="clean-list">
          <li><a href="http://feeds.feedburner.com/codetalkspod" target="_blank">Feed</a></li>
          <li><a href="https://itunes.apple.com/us/podcast/codetalks/id939257121" target="_blank">iTunes</a></li>
      </ul>
      <h1>Apoio</h1>
      <a href="http://braziljs.org"><img src="../images/parceiros/braziljs.png" /></a>
      <ul class="clean-list horizontal-list">
          <li><a href="https://developers.google.com/groups/" class="apoio-icon"><img src="../images/parceiros/gdg.jpg" /></a></li>
          <li><a href="https://www.facebook.com/groups/caravanaweb/" class="apoio-icon"><img src="../images/parceiros/caravana.png"></a></li>
      </ul>
      
      <p class="copy">&copy; CodeTalks - 2014</p>
  </footer>

    {% include analytics.html %}
        <script type="text/javascript">
          var _hta = {'_setToken': '9ab6b04738d5c57b2a59cf9e8cf93202049b1c9c','_htException': 'HandTalk_EXCECAO'};
          (function() {
            var ht = document.createElement('script'); ht.type = 'text/javascript'; ht.async = true;
            ht.src = 'http://api.handtalk.me/handtalk_init.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.appendChild(ht);
          })();
        </script>
        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        <script type="text/javascript">
        var sc_project=10122660; 
        var sc_invisible=1; 
        var sc_security="920c8f1f"; 
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
      </body>
</html>
