---
layout: default
---

<article class="post">
  <h1>CodeTalks #{{ page.episode }}: {{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    
    
    <div id="audioplayer">
        <audio id="music" preload="true">
            <source src="{{ page.m4aurl }}">
	    </audio>
       
        <button id="play-btn" class="play" onclick="play()">play</button>
          <div class="time-overlay">
              <span id="current-time-play">00:00</span> / {{ page.fulltime }}
          </div>
          <div id="timeline-wrapper">
              <div id="timeline">
                  <div id="playhead"></div>
              </div>
          </div>
          <div style="clear: both;"></div>
          <ul id="podcast-sections">
            {% for section in page.sections %}<li id="sec-{{ section.time | replace: ':', '-'}}">
                <a href="#{{ section.time }}">{{ section.time }} - {{ section.name }}</a>
            </li>{% endfor %}
          </ul>
        <img src="../images/{{page.episode}}.png" />
  </div>
  <script src="../scripts/player.js"></script>

  <div class="date">
    Publicado em {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>